body {
    text-align: center;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.438);
}

.modal-body {
    position: relative;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    background: #ffffff;
}
